body {
    background: #5cdb95;
    color: #05386b;
}

.nav-wrapper {
    background-color: #379683;
}

.nav-wrapper a {
    color: #05386b;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #8ee4af;
}

.page-footer .footer-copyright {
    padding: 0;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    color: #05386b;
}
a {
    color: #05386b;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
}
.icons {
    height: 50px;
}