main {
    background-color: #EDF5E1;
    max-height: 1000px;
}
.header__title-impact {
    margin: 100px 0px 50px 0px;
}
.header__impact {
    text-align: center;
    font-weight: 900;
}

.impact__color {
    animation: color-animation 4s linear infinite;
}

.impact__title-color1 {
    --color-1: #05386b;
    --color-2: #000;
    --color-3: #fff;
}

.impact__title-color2 {
    --color-1: #379683;
    --color-2: #05386b;
    --color-3: #000;
}

.cards {
    max-width: auto;
    width: 100%;
    margin: 1rem auto;
    padding: 10px;
    overflow: hidden;
    background-color: #EDF5E1;
}

.row {
    display: flex;
    overflow: hidden;
    max-height: 300px;
}

.stories {
    display: flex;
    width: 100%;
}

.stories img {
    flex-shrink: 0;
    width: 680px;
    height: 300px;
    object-fit: cover;
    border: 10px solid #05386b;
}

.stories {
    animation: move 50s ease-in-out infinite;
}
 
@keyframes move {
    0%, 100% {
        transform: translate3d(0,0,0,);
    }
    50% {
        transform: translate3d(-30%,0,0);
    }
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}

@media screen and (max-width: 400px) {
    .header__impact {
        text-align: center;
        font-size: 24px;
    }

    .cards{
        height: 500px;
        width: 100%;
        margin: 100px auto;
    }
    
    .row {
        height: 400px;
        width: 500px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .stories {
        height: 500px;
    }

    .row img {
        width: 400px;
        height: 200px;
    }

    .stories {
        height: 500px;
        width: auto;
    }

    .container {
        height: 200px;
    }
  }
  
  @media screen and (min-width: 401px) and (max-width: 768px) {
    .header__impact {
        font-size: 32px;
        text-align: center;
    }

    .cards{
        height: 1000px;
        width: 100%;
        margin: 100px auto;
    }
    
    .row {
        height: 400px;
        width: 800px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .stories {
        height: 500px;
    }

    .row img {
        width: 700px;
    }

    .stories {
        height: 400px;
        width: auto;
    }

    .container {
        height: 200px;
    }
  }
  
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .header__impact {
        font-size: 48px;
        text-align: center;
    }

    .cards{
        height: 1000px;
        width: 100%;
        margin: 100px auto;
    }

    .row {
        height: 500px;
        width: 750px;
        overflow: hidden;
        overflow-x: scroll;
    }

    .stories {
        height: 500px;
    }

    .row img {
        width: 700px;
    }

    .stories {
        height: 400px;
        width: auto;
    }

    .container {
        height: 100px;
    }
  }
  