.main_header{
    background-image: url("index.images/notes.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;
   }

.intro_section{
    justify-content: center;
}

.benefit_list{
    list-style: square;
}

.sections{
    display: flex;
    flex-direction: column;
}

.first_section , .second_section, .third_section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.text , .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text{
    flex-direction: column;
}

.image img{
    width: 50%;
}

