.main_header{
    background-image: url("index.images/notes.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;
   }

.intro_section{
    justify-content: center;
}

.first_section , .second_section{
    display: flex;
    align-items: center;
}

.text , .image{
    width: 50%;
    justify-content: center;
}

.image img{
    width: 50%;
}

