.main_header{
    background-image: url("index.images/notes.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
   }

.main__color {
    animation: color-animation 4s linear infinite;
}

.main__title-color1 {
    --color-1: #379683;
    --color-2: #05386b;
    --color-3: #000;
}

h2, h3{
    text-align: center;
    font-weight: 600;
}

h2 a:hover {
    color: #EDF5E1;
}

.main_header h1 {
    background-color: rgba(234, 255, 234, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.intro_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #379683;;
}

.benefit_list{
    list-style: square;
}

.sections{
    display: flex;
    flex-direction: column;
}

.first_section , .second_section, .third_section{
    display: flex;
    justify-content: center;
    width: 100%;
}

.text , .image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    padding: 10px;
}

.text {
    flex-direction: column;
    background-color: #379683;
    border-radius: 50px;
}

.image img{
    width: 50vw;
    border-radius: 50px;
}

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }
    32% {
        color: var(--color-1)
    }
    33% {
        color: var(--color-2)
    }
    65% {
        color: var(--color-2)
    }
    66% {
        color: var(--color-3)
    }
    99% {
        color: var(--color-3)
    }
    100% {
        color: var(--color-1)
    }
}

@media screen and (max-width: 400px) {
    
    h1, h2, h3, h4{
        font-size: 20px;
    }
    
    .first_section, .second_section, .third_section{
        flex-direction: column;
        width: 100vw;
        padding: 0px 25px 0px 0;
        margin: 5px;
    }
    .text{
        padding: 10;
        margin: 15px;
    }
    .image img{
        display: none;
    }
  

}

@media screen and (min-width: 401px) and (max-width: 768px) {
    
    h1, h2, h3, h4{
        font-size: 30px;
    }
    
    .first_section, .second_section, .third_section{
        flex-direction: column;
        width: 100vw;
        padding: 0px 25px 0px 0;
        margin: 0px;
    }
    .text{
        padding: 10;
        margin: 15px;
    }
    .image img{
        display: none;
    }
  
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    h1, h2, h3, h4{
        font-size: 41px;
    }

    .first_section, .second_section, .third_section{
        width: 100vw;
        padding: 0px 25px 0px 0;
        margin: 0px;
    }
    .text{
        padding: 10;
        margin:15px;
    }

}