body {
    background: #5cdb95;
    color: #05386b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .nav-wrapper {
    background-color: #379683;
    height: 100px;
}
nav ul a {
    font-size: 20px;
}
.nav-wrapper {
    align-items: center;
}
.logo {
    height: 100%;
}
.nav-wrapper ul {
    height: 100%;
}
.nav-wrapper li {
    height: 100%;
    vertical-align: auto;
    font-size: px;
}
.nav-wrapper a {
    color: #05386b;
    height: 100%;
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #8ee4af;
}

.page-footer .footer-copyright {
    padding: 0;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    color: #05386b;
}
a {
    color: #05386b;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
}
.icons {
    height: 50px;
}