body {
    background: #5cdb95;
    color: #05386b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .nav-wrapper {
    background-color: #379683;
    height: 150px;
}
nav ul a {
    font-size: 22px;
    padding: 40px 18px;
}
.nav-wrapper {
    align-items: center;
}
.logo {
    height: 100%;
    padding: 20px;
}
.nav-wrapper ul {
    height: 100%;
}
.nav-wrapper li {
    height: 100%;
}
.nav-wrapper a {
    color: #05386b;
    height: 100%;
}

.page-footer {
    background-color: #8ee4af;
}

.page-footer .footer-copyright {
    padding: 0;
}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    color: #05386b;
}
a {
    color: #05386b;
}
.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
}
.icons {
    height: 50px;
}

@media screen and (max-width: 992px) {
    nav {
        background-color: #379683;
        height: 110px;
        width: 100%;
    }

    .logo {
        height: 100px;
        padding: 10px;
    }

    .med-down-nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .med-down-nav ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .med-down-nav ul ul {
        display: none;
        position: absolute;
        background-color: #379683;
        z-index: 1;
    }

    .navmenu {
        border: none;
        height: 30px;
        cursor: pointer;
        margin: 10px;
        margin-right: 30px;
    }

    .dropdown-nav {
        display: none;
        position: absolute;
        background-color: #379683;
        z-index: 1;
        right: 0;
        margin-right: 10px;
        /* flex-direction: column; */
    }

    .dropdown-nav li {
        width: 150px;
        border: 1px solid #edf5e1;
        /* border-bottom: 0px; */
        text-align: center;
        float: right;
        /* display: flex;
        flex-direction: column; */
        color: #edf5e1;
        position: relative;
    }

    .med-down-nav li a,
    .dropdown-nav li a {
        font-size: 16px;
        padding: 0;
    }

    .dropdown-nav li a:hover {
        background-color: #05386b;
    }
}